.location-container {
	hr {
		margin: 10px;
	}
}

.location-filter {
	button {
		border: 1px solid #6b7280;
		border-radius: 3px;
		padding: 0.2rem 1rem;

		&:hover {
			background-color: #fafafa;
		}
	}

	input, select {
		height: 30px;
		margin: 0 10px;
		padding: 0.25rem;
	}

	label {
		&:hover {
			cursor: pointer;
		}
	}

	select {
		option[value="0"] {
			color: grey;
		}

		&:checked {
			color: blue;
		}
	}

	.spacer {
		display: inline-block;
		width: 80px;
	}
}

.locations {
	.card {
		align-items: stretch;
		flex: 0 1 300px;
		justify-content: center;

		.content {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
			margin: 30px;
			overflow: hidden;
			position: relative;

			&:hover .details {
				transform: translateY(0);
				transition: transform 0.4s;
			}

			.details {
				background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
				color: #fff;
				display: inline-block;
				height: 100%;
				padding: 10px;
				position: absolute;
				text-align: center;
				top: 0;
				transform: translateY(100%);
				transition: transform 0.4s;
				width: 100%;
			}

			.main {
				padding: 10px;

				img {
					margin: 0 auto;
				}
			}
		}
	}
}
